doctype
html
	head
		title Appotato

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		link(href='http://fonts.googleapis.com/css?family=Arbutus', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', type='text/css')
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/style.css")

	body(id="", class=['fluid'], data-ng-app="appotato")
		#wrap
			header#site-header
				.container: h1 <a href="/">appotato</a>
			#content
				div(class="container", data-ng-view="")
			footer#site-footer

		script(src="//code.jquery.com/jquery-1.10.2.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js")

		script(src="js/libs.js")
		script(src="js/main.js")

		block scripts